
<%= form_for @portfolio do |f| %>
<% if @portfolio.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

  <ul>
    <% @portfolio.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-group">
  <label for="text">Title</label>
  <%= f.text_field :title, class: "form-control", placeholder: "Enter the Title" %>
</div>

<div class="form-group">
  <label for="text">Description</label>
  <%= f.text_field :description, class: "form-control", placeholder: "Enter the Description" %>
</div>

<div class="form-group">
  <label for="text">Category</label>
  <%= f.text_field :category, class: "form-control", placeholder: "Enter the Category" %>
</div>


<div class="form-group">
  <label for="text">Image</label>
  <%= f.file_field :image_url %>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-default">Submit</button>
</div>


<% end %>

