<style>

  html,
  body {
    height: 100%;
  }

  /* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

  .carousel {
    height: 50%;
  }

  .item,
  .active,
  .carousel-inner {
    height: 100%;
  }

  /* Background images are set within the HTML using inline CSS, not here */

  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  footer {
    margin: 50px 0;
  }

</style>



<body>
  <!-- Half Page Image Background Carousel Header -->
  <header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- Set the first background image using inline CSS below. -->
        <div class="fill" style="background-image:url(<%= @portfolio.image_url%>);"></div>
        <div class="carousel-caption">
          <h2>Caption 1</h2>
        </div>
      </div>
      <div class="item">
        <!-- Set the second background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
        <div class="carousel-caption">
          <h2>Caption 2</h2>
        </div>
      </div>
      <div class="item">
        <!-- Set the third background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
        <div class="carousel-caption">
          <h2>Caption 3</h2>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>

  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h1><%= @portfolio.title %></h1>
        <h2><%= @portfolio.description %></h2>
        <p>
          <strong>Category:</strong>
          <%= @portfolio.category %>
        </p>

        <p>
          <strong>Subcategory:</strong>
          <%= @portfolio.subcategory %>
        </p>
      </div>
<!--
      <%= form_for(@portfolio) do |f| %>
      <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Enter the Title" %>
      <%= f.text_field :description, class: "form-control", placeholder: "Enter the " %>
      <%= f.text_field :category, class: "form-control", placeholder: "Enter the Category" %>
      <%= f.text_field :subcategory, class: "form-control", placeholder: "Enter the SubCategory" %>
      <%= f.text_field :subcategory, class: "form-control", placeholder: "Enter the SubCategory" %> -->
     <!--  <button id = "likeBtn" type="submit" class="btn btn-primary">Like</button> -->
      <% end %>
      <div class='like'>
      <button class='like-toggle basic'><i class="fa fa-camera"></i></button>
        <span class='hidden'>1 Like</span>
      </div>
      <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
      <%= link_to 'Back', portfolios_path %>



    </div>

    <!-- Disqus 'Comments' -->
    <%= render 'disqus' %>


    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Your Website 2015</p>
        </div>
      </div>
      <!-- /.row -->
    </footer>

  </div>

  <style>
    *{transition: all 0.3s linear;}

    .hidden{
      font-size: 0;
    }

    .like,p{
      font-family: 'Open Sans';
    }

    .like-toggle{
      outline:none;
      box-shadow:none;
      border: none;
      width: 40px;
      height: 30px;
      font-size: 1.3em;
      border-radius: 100px;
    }

    .like-active.basic{
      background: #7CC576;
      color: white;
    }

  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('.like-toggle').click(function(){
        $(this).toggleClass('like-active');
        $(this).next().toggleClass('hidden');
      });
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    $("#like").click(function(){
      alert("Wokring");
      var likes = $("#portfolio_likes").val();
      if (likes) {
        $("#portfolio_likes").val(likes +1);
      } else {
        $("#portfolio_likes").val(1);
      }
      alert($("#portfolio_likes").val());

    });

  </script>





</script>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
        interval: 5000 //changes the speed
      })
</script>

</body>