<!DOCTYPE html>
<html>
<head>
  <title>ShowCase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="css/one-page-wonder.css" rel="stylesheet">
  <link href="css/logo-nav.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <script type="text/javascript" script-name="montserrat" src="http://use.edgefonts.net/montserrat.js"></script>

</head>

<body>
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
 <div style=font-size:18px; font-weight:300; font-family: 'Roboto'; >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-camera"></i>
        <span class="sr-only">Toggle navigation</span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
      </button>
      <div class ="Showcase">
      <%= link_to 'ShowCase' , root_path , :class => 'navbar-brand' %>
    </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to '<span class="glyphicon glyphicon-info-sign"></span> About'.html_safe, page_about_path %>
        </li>
        <li>
         <%= link_to '<span class="glyphicon glyphicon-camera"></span> Portfolio'.html_safe, page_portfolio_path %>
       </li>
       <li><%= link_to '<span class="glyphicon glyphicon-envelope"></span> Contact'.html_safe, page_contact_path %>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to '<span class="glyphicon glyphicon-user"></span> My Profile'.html_safe, page_profile_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to '<span class="glyphicon glyphicon-user"></span>  Sign In'.html_safe, new_user_session_path %></li>
      <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Sign Up'.html_safe, new_user_registration_path %></li>
      <% end %>
    </ul>

  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>



<%= yield %>



</html>

</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<!-- Page Content -->

<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

